
@{
    ViewBag.Title = "Espace de l'étudiant";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}
@using GestionDesAbsencesMigration.Models

@model List<AbsenceList>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Semaine</th>
            <th scope="col">Module</th>
            <th scope="col">Début_séance</th>
            <th scope="col">fin_séance</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.semaine.Code</td>
            <td>@item.module.NomModule</td>
            <td>@item.seance.HeurDebut</td>
            <td>@item.seance.HeurFin</td>
        </tr>

    }

</table>