@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutEtudiant.cshtml";
}

@using GestionDesAbsencesMigration.Models
@model Etudiant

<div class="row justify-content-center mt-5">
    <div class="col-md-8 pt-3 mt-5">
        <div class="card bg-light shadow">
            <div class="card-header font-weight-bolder  btn btn-primary text-center">
                Profil
            </div>
            <div class="card-body">
                <div class="card-text mb-3 pb-2 border-bottom">ID : <strong class="text-secondary  font-weight-bold mx-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Id</strong></div>
                <div class="card-text mb-3 pb-2 border-bottom">Cne : <strong class="text-secondary  font-weight-bold mx-5">&nbsp;&nbsp;&nbsp;@Model.Cne</strong></div>
                <div class="card-text mb-3 pb-2 border-bottom">Nom : <strong class="text-secondary font-weight-bold mx-5">&nbsp;&nbsp;&nbsp; @Model.Nom</strong></div>
                <div class="card-text mb-3 pb-2 border-bottom">Prénom : <strong class="text-secondary font-weight-bold mx-5">@Model.Prenom</strong></div>
                <div class="card-text mb-3 pb-2 border-bottom">Email : <strong class="text-secondary font-weight-bold mx-5">@Model.Email</strong></div>
                <div class="card-text mb-3 pb-2 border-bottom">Email : <strong class="text-secondary font-weight-bold mx-5">@Model.Classe.Nom</strong></div>

            </div>
        </div>
    </div>
</div>