@model GestionDesAbsencesMigration.Models.Etudiant

<div class="modal-body">
       @*@Model.Nom*@
    </div>
<div class="modal-footer">
    <button id="continueDelete" class="btn btn-danger">Oui</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
</div>