@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Solde -->
    <div class="row">
        <div class="col-md-5 mb-4 " style="height:140px;">
            <div class="card shadow h-100 py-2" style="border-left: 5px solid #3445b4">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-3">
                                Nombre d'absences d'aujourd'hui
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-danger">@ViewBag.absence_count</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-times fa-2x text-danger mt-5"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 shadow text-center" >
            <div id="pie_chart" class="text-center"></div>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-md-8 offset-2 shadow">
            <div id="bar_chart" class="text-center ">
               
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>
        var jasonData = {}; 
        google.charts.load('current', { 'packages': ['corechart'] });

        //Pie chart
        google.charts.setOnLoadCallback(function () {

            $.ajax({
                url: 'CycleChart',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    var dataArray = new google.visualization.DataTable();
                    dataArray.addColumn('string', 'Cycle');
                    dataArray.addColumn('number', 'Nombre absence');
                    dataArray.addRows([
                        ['CP', data.CP],
                        ['CI', data.CI]
                    ]);

                    var options = {
                        'title': 'Nombres absence par cycle',
                        'is3D': true
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                    chart.draw(dataArray, options);
                }
            });
        });

        google.charts.setOnLoadCallback(function () {
            $.ajax({
                url: 'ClasseChart',
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    var dataArray = new google.visualization.DataTable();
                    dataArray.addColumn('string', 'Classe');
                    dataArray.addColumn('number', 'Nombre absence');
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            console.log(key + " -> " + data[key]);
                            dataArray.addRows([
                                [key, data[key]]
                            ]);
                        }
                    }

                    var options = {
                        title: 'Nombres absence par classe',
                        height: 280,
                        colors: ["#3366cc"]
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('bar_chart'));
                    chart.draw(dataArray, options);
                }
            });
        });
    </script>
}
